.left {
	background-color: aquamarine;
	position: fixed;
	width: 50%;
	height: 100%;
	top: 0;
	left: 0;

}

.right {
	background-color: aliceblue;
	position: fixed;
	width: 50%;
	height: 100%;
	top: 0;
	right: 0;

}

.rocket {
	position: absolute; /*it says where is my parent (and it positions itself based on the parent)*/
	left: 50%;
	bottom: 20px;
	width: 20px;
	height: 100px;
	background-color: blue;
	transition: bottom 1000ms;
}

.rocket.flying {
	bottom: 1000px;

}

.ground {
	background-color: green;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 20px;
}


.state2,
.state3,
.state4,
.state5 {
	display: none;
}

body.state1 .state1 {display: block;}
body.state2 .state2 {display: block;}
body.state3 .state3 {display: block;}
body.state4 .state4 {display: block;}
body.state5 .state5 {display: block;}

a {

}

a.button {


}